.aui-flex-box .myPicListclass{display: block; width: 100%; float: left;}.video0,.aui-head-box1,.aui-head-box2{display: none;}.video1{display: block;}a.gifts {display:block;width:22%;margin:2px 1%;float:left;}a.gifts img {
    width: 100%;
} .qx1,.qx2{display:none;}.mmdd{display:none;}